html, body {
  margin: 3%;
  padding-bottom: 100%;
}

h1 {

}

.ui.block.header {
  background-color: rgb(101, 167, 126);
  border-radius: 9px;
  text-align: center;
  border: none;
}

.container {
  background-color: rgb(174, 175, 174);
  border-radius: 9px;
  text-align: center;
  border: none;
  max-width: 150px;
  padding: 5px
}

.contact-list >ul {
list-style-type: none;
display: inline;
}

ul.contact-list >li {
  display: inline;
}

.ui.yellow.button{
  color: black; 
}

#input_list {
  list-style-type: none;

}

#Notes_list {
  padding-top: 20px;
}

#contact-notes {
  border-color: brown;
  border-radius: 5px;
  width: 350px;
  height: 50px;
}

.ui.input.focus {
  
}

.ui.card {
  width: 250px;
  margin: 20px;
}
