html, body {
  margin: 3%;
}

h1 {

}

.ui.block.header {
  background-color: rgb(101, 167, 126);
  border-radius: 9px;
  text-align: center;
  border: none;
}

.container {
  background-color: rgb(174, 175, 174);
  border-radius: 9px;
  text-align: center;
  border: none;
  max-width: 150px;
  padding: 5px
}

.contact-list >ul {
list-style-type: none;
}